<% include head.ejs %>
<% include header.ejs %>
	<div class="jumbotron">
		<p>
		We are .. three awesome people who are joinging Redbird Hacks! And I am currently working on something I don't exactly know the answer so I guess I will keep on typing typing and typing lalalalala
		If you want to check us out, go to 
		</p>
	</div>
<% include footer.ejs %>