<% include gamehead.ejs %>
<% include header.ejs %>
	<div class="jumbotron">
		<table class="table" id="room">
		<h3>Room Name</h3>
        <thead>
            <tr>
                <th>Player</th>
                <th>Name</th>
                
            </tr>
        </thead>
        <tbody>
        	<tr class="danger">
                <td>1</td>
                <td>Joe Biden</td>
                
            </tr>
            <tr class="info">
                <td>2</td>
                <td>President Obama</td>
                
            </tr>
            
        </tbody>
    </table>
	</div>
<% include footer.ejs %>