<% include gamehead.ejs %>
<% include header.ejs %>
<div id="game-view">

    <script id="game-area" type="type/x-handlebars-template">
	<div class="jumbotron">
		<table class="table" id="room">
    		<h3 id="roomName">{{roomID}}</h3>
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Name</th>
                    
                </tr>
            </thead>
            <tbody>
                {{#each members}}
                <tr class="info">
                    <td>{{inc @index}}</td>
                    <td class="users">{{@key}}</td>
                    
                </tr>
                {{/each}}
            </tbody>
        </table>
	</div>
    </script>

</div>
<% include footer.ejs %>