<% include head.ejs %>
<% include header.ejs %>
	<div class="jumbotron container">
		<div id="trade-container">

		<script id="trade-area" type="type/x-handlebars-template">
		<h2 id="roomName" class="span6 pull-left">{{roomID}}</h2>
		<div id="timer" class="span6 pull-right"><span id="time">0</span></div>
		<br><br><br><br><br>

		{{#each diceRolls}}
		<div id="dice">
			{{this}}
		</div>
		{{/each}}
		<br><br><br><br><br>

		<!-- Make offers here -->
		<div class="row">
			<form class="form-inline col-xs-6">
			  <div class="form-group">  
			    <div class="input-group"> 
			    	<input type="number" min="0" max="50" class="form-control" id="buyPrice" placeholder="Buy">
			    	<input type="number" min="0" max="50" class="form-control" id="sellPrice" placeholder="Sell">
			    	<input type="hidden" id="roomID" value="{{roomID}}">
			    </div>
			  </div>
		  	  <button type="button" class="btn btn-primary" id="trade">Make Offer</button>
			</form>

			<!-- Position -->
			<div class="col-xs-6 pull-right text-center" id="game-info">
				<div>Sum of Dice Rolls: {{sum}}</div>
				<div>Round: {{roundNum}}&#47;{{numRounds}}</div>
				<div>Position: {{position}}</div>
			</div>
		</div>

		<br>

		<div class="col-xs-6 pull-left">
			<h3 class="row-fluid text-center">Sell for</h3>
			{{#each activeTrades}}
			<div class="row-fluid trade" onclick="acceptOffer('{{@key}}', '{{../roomID}}', userID, 'sell');">
			{{buyPrice}}
			</div>
			{{/each}}
		</div>

		<div class="col-xs-6 pull-right">
			<h3 class="row-fluid text-center">Buy for</h3>
			{{#each activeTrades}}
			<div class="row-fluid trade" onclick="acceptOffer('{{@key}}', '{{../roomID}}', userID, 'buy');">
			{{sellPrice}}
			</div>
			{{/each}}
		</div>

		</script>

		</div>

	</script>

	</div>

	</div>
	
<% include footer.ejs %>