<% include head.ejs %>
<% include header.ejs %>
	<div class="jumbotron container">
		<div id="trade-container">

		<script id="trade-area" type="type/x-handlebars-template">
		<h2 id="roomName" class="span6 pull-left">{{roomID}}</h2>
		<div id="timer" class="span6 pull-right"><span id="time">10</span></div>
		<br><br><br><br><br>


		<div id="dice"> 6 </div><div id="dice"> 6 </div><div id="dice"> 6 </div><div id="dice"> 6 </div><div id="dice"> 6 </div><div id="dice"> 6 </div>
		<br><br><br><br><br>

		<!-- Make offers here -->
		<div class="row">
			<form class="form-inline col-xs-6">
			  <div class="form-group">  
			    <div class="input-group"> 
			    	<input type="number" min="0" max="50" class="form-control" id="buyPrice" placeholder="Buy">
			    	<input type="number" min="0" max="50" class="form-control" id="sellPrice" placeholder="Sell">
			    	<input type="hidden" id="roomID" value="{{roomID}}">
			    </div>
			  </div>
		  	  <button type="button" class="btn btn-primary" id="trade">Make Offer</button>
			</form>

			<!-- Position -->
			<div class="col-xs-6 pull-right text-center" id="position">
			Position: {{position}}
			</div>
		</div>

		<br>

		<div class="col-xs-6 pull-left">
			<h3 class="row-fluid text-center">Sell for</h3>
			{{#each activeTrades}}
			<div class="row-fluid trade" onclick="acceptOffer('{{@key}}', '{{../roomID}}', userID, 'sell');">
			{{buyPrice}}
			</div>
			{{/each}}
		</div>
		<div class="col-xs-6 pull-right">
			<h3 class="row-fluid text-center">Buy for</h3>
			{{#each activeTrades}}
			<div class="row-fluid trade" onclick="acceptOffer('{{@key}}', '{{../roomID}}', userID, 'buy');">
			{{sellPrice}}
			</div>
			{{/each}}
		</div>

		</script>

		</div>
		<table class="table">
			<thead><tr><td id="tbuy">Buy</td><td id="tbuy">Sell</td></tr></thead>
			<tr><td>
				<button type"submit" id="b_buy"><div id="buy" class="buy_p"> 2 </div>
	  			<div id="buy" class="buy_p"> 6 </div></button>
	  		</td>
	  		<td>
	  			<button type"submit" id="b_buy"><div id="buy" class="buy_p"> 2 </div>
	  			<div id="buy" class="buy_p"> 6 </div></button>
	  		</td>
	        <tr>
	        <td>
	        	<button type"submit" id="b_buy"><div id="buy" class="buy_p"> 2 </div>
	  			<div id="buy" class="buy_p"> 6 </div></button>
	  		</td>
	  		<td>
	  			<button type"submit" id="b_buy"><div id="buy" class="buy_p"> 2 </div>
	  			<div id="buy" class="buy_p"> 6 </div></button>
	  		</td>
	            
		</table>

		
	

	</script>

	</div>

	</div>
	

	<script>
	function startTimer(duration, display) {
    var start = Date.now(),
        diff,
        
        seconds;
    function timer() {
        // get the number of seconds that have elapsed since 
        // startTimer() was called
        diff = duration - (((Date.now() - start) / 1000) | 0);

        // does the same job as parseInt truncates the float
        
        seconds = (diff % 60) | 0;

        seconds = seconds < 10 ? "0" + seconds : seconds;

        // display.textContent = seconds; 

        if (diff <= 0) {
            // add one second so that the count down starts at the full duration
            // example 05:00 not 04:59
            start = Date.now() + 200;
        }
    };
    // we don't want to wait a full second before the timer starts
    timer();
	    setInterval(timer, 200);
	}

	window.onload = function () {
	    var fiveMinutes = 60,
	        display = document.querySelector('#time');
	    startTimer(fiveMinutes, display);
	};
	</script>
<% include footer.ejs %>