<div class="container">
      <div class="header clearfix">

        <nav>

          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">About</a></li>
            <li role="presentation"><a href="/rooms">Rooms</a></li>
            <li role="presentation"><a href="/contact">Contact</a></li>
          </ul>

        </nav>
        
        <h1 id="heading"><a href="#"><%= title %></a></h1>
      </div> <hr>
     