<% include head.ejs %>
<% include header.ejs %>

	 <div class="jumbotron" id="index">
        
        <h2>Rules</h2>
        
        <p class="lead"> Market Making is a game trading virtual stocks. The objective of the game is to ... . The points are based on the player's position and payoffs. The player with the best point wins!!! </p>
      	<% if(global.userID == undefined) { %>
      		<p><a class="btn btn-lg btn-success" id="fb-login" href="#" role="button" onclick="FBLogin();">Login with Facebook</a></p>
      	<% } %>
      		
       

     </div>

<%include footer.ejs %>

       


       