<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
</head>

<body>
	<p>Hello world</p>

	<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	<script src="javascripts/test.js"></script>
</body>
</html>