<% include head.ejs %>
<% include header.ejs %>

	 <div class="jumbotron" id="index">
	 	<h3 id="login-af"></h3>

        <h3>What is Market Making? </h3>
        <p class="lead"> </p>
        <h3>Rules: </h3>
        <p class ="lead">
        	Have fun!
        </p>
      	<!--Fb login buttom -->
      		<p id="login-btn"><a class="btn btn-lg btn-success" id="fb-login" href="#" role="button" onclick="FBLogin();">Login with Facebook</a></p>
      	
     </div>

     
<% include footer.ejs %>
        