<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>

	<h1>Welcome to <%= title %></h1>
	
	<p> Rules: <br>
		This is a virtual stock trading game. The objective of the game is to ...
	</p>


	<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	<script src="javascripts/test.js"></script>
>>>>>>> origin/master
</body>
</html>