<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
	<h1>Welcome to <%= title %></h1>
	
	<p> Rules: <br>
		This is a virtual stock trading game. The objective of the game is to ...
	</p>
</body>
</html>