<% include head.ejs %>
<% include header.ejs %>

	 <div class="jumbotron" id="index">
	 	<h3 id="login-af"></h3>

        <h3>What is Market Making? </h3>
        <p class="lead">Market Making is game of trading fictional stocks that was fostered by the idea to give financial engineers or people who are intrested in stocks a first hand experience on stock trading.</p>
        <br>
        <h3>Rules: </h3>
        <p class ="lead">
        	1. Unlike real stocks, we will imitate stocks by generating six dice rolls, and the player is objective is to not only earn profit but also making sure he does not have a low position.
          <br>
          2. During the game, players can choose to offer the trade or receive the trade. The person who bought lowers one position, and the one who sold it gain one.
          <br>
          3. Eventually, we will calculate the scores based on the player's position and closeness to the sum of six dic rolls. 
        </p>
        <br>
        <h4>Lastly, Let's have fun and play!</h4>
      	<!--Fb login buttom -->
      		<p id="login-btn"><a class="btn btn-lg btn-success" id="fb-login" href="#" role="button" onclick="FBLogin();">Login with Facebook</a></p>
      	
     </div>

     
<% include footer.ejs %>
        