<% include head.ejs %>
<% include header.ejs %>
	 <div class="jumbotron">
        <h2>Rules</h2>
        <p class="lead"> justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-lg btn-success" id= "fb-login" href="#" role="button">Login with Facebook</a></p>
     </div>
<%include footer.ejs %>
        