<% include head.ejs %>
<% include header.ejs %>

	 <div class="jumbotron" id="index">
	 	<h3 id="login-af"></h3>

        <h3>What is Market Making? </h3>
        <p class="lead">Market Making is game of trading fictional stocks. I was originally introduced to market-making games through the Financial Engineering Club at the University of Illinois, however the open outcry aspect of that game made it particularly inefficient. The primary motivation of this website is to provide a platform for market-making games.</p>
        <br>
        <h3>Rules: </h3>
        <p class ="lead">
        	1. Unlike real stocks, we will imitate stocks by generating six dice rolls, and the player is objective is to not only earn profit but also making sure his or her position is as close to zero as possible. Balancing your buys and sells is crucial.
          <br>
          2. During the course of a game, players can choose to offer a trade and to accept an offer. The offers are a minimum of 2-points bid-ask spread.
          <br>
          3. Scores are calculated based on profits. Players are penalized for having a non-zero position, the further away from zero, the more severe the penalty.
        </p>
        <br>
        <h4>Enjoy!</h4>
      	<!--Fb login buttom -->
      		<p id="login-btn"><a class="btn btn-lg btn-success" id="fb-login" href="#" role="button" onclick="FBLogin();">Login with Facebook</a></p>
      	
     </div>

     
<% include footer.ejs %>
        