<% include head.ejs %>
<% include header.ejs %>
<div class="jumbotron">
	<table class="table table-bordered">
		<tr class="info"><td >Player</td><td>Scores</td></tr>

		<% for(var key in data) { %>
		<tr><td><%= key.userID %></td><td><%= key.score %></td></tr>
		<% } %>
		
	</table>
</div>
<% include footer.ejs %>