<% include head.ejs %>
<% include header.ejs %>
<div class="jumbotron">
	<table class="table table-bordered">
		<tr class="info"><td >Player</td><td>Scores</td></tr>

		<% for(var i=0; i<result.length; i++) { %>
		<tr><td><%= result[i].user %></td><td><%= result[i].user %></td></tr>
		<% } %>
		
	</table>
</div>
<% include footer.ejs %>