<% include head.ejs %>
<% include header.ejs %>
	<div class="jumbotron">
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	  	Create
	</button>

<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">

		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Create Room</h4>
		      </div>

		      <form action="#" method="post" id="roomform">
		      <div class="modal-body">
		      	
		        <h5>Name: </h5><input type="text" class="form-control" aria-label="name" name="name">
		      	
		      	<br>
		      	
				<label for="selectUser">Type:</label>
			        <select id="selectUser" name="type" class="form-control selectWidth">
			          <option value="public">Public</option>
			          <option value="private">Private</option>
			          
			        </select>

					<br>

				<h5>Number of Rounds: </h5>
					<div class="btn-group" data-toggle="buttons">
					  <label class="btn btn-primary active">
					    <input type="radio" name="numrounds" id="numRounds1" autocomplete="off" value= "2"checked> 2 
					  </label>
					  <label class="btn btn-primary">
					    <input type="radio" name="numrounds" id="numRounds2" autocomplete="off" value="4"> 4
					  </label>
					  <label class="btn btn-primary">
					    <input type="radio" name="numrounds" id="numRounds3" autocomplete="off" value="6"> 6
					  </label>
					  <label class="btn btn-primary">
					  	<input type="radio" name="numrounds" id="numRounds4" autocomplete="off" value="8"> 8
					  </label> 
					</div>

				<br>

				<h5> Minimum number of players</h5>
				  <div class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary active">
					    <input type="radio" name="minplayers" id="minPlayers3" value = "6" autocomplete="off" checked > 6 
					</label>
					<label class="btn btn-primary ">
					    <input type="radio" name="minplayers" id="minPlayers4" autocomplete="off" value ="7" > 7 
					</label>
					<label class="btn btn-primary ">
					    <input type="radio" name="minplayers" id="minPlayers5" autocomplete="off" value="8" > 8 
					</label>
					<label class="btn btn-primary ">
					    <input type="radio" name="minplayers" id="minPlayers6" autocomplete="off" value="9" > 9
					</label>
					<label class="btn btn-primary ">
					    <input type="radio" name="minplayers" id="minPlayers7" autocomplete="off" value= "10" > 10
					</label>
					<label class="btn btn-primary ">
					    <input type="radio" name="minplayers" id="minPlayers8" autocomplete="off" value="11" > 11
					</label>
					<label class="btn btn-primary ">
					    <input type="radio" name="minplayers" id="minPlayers9" autocomplete="off" value="12" > 12
					</label> 
				  </div>

				<br>
				<br>

				<h5>Round Length:</h5>
				<input type="number" name="roundlength" min="30" max="90" step="5" value="30">
						
			  </div>
			  <!-- hidden input -->
			  <input type="hidden" id="userID" name="userID">
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary" form="roomform" value="submit" action="#">Create</button>
		        </form>	
		      </div>

		    </div>
		  </div>
		</div>
		<br>
		<br>
		
		<div id="rooms-view">
			<script id="rooms" type="type/x-handlebars-template">
			<div class="list-group">
			
			{{#each rooms}}
			<a href="#" class="list-group-item list-group-item-info">
				<span class="badge count">{{@key}}</span>
				<h2>{{roomName}}</h2><br>
				<h4>Host: <span class="host">{{host}}</span></h4><br>
				<form method="post">
					<input type="hidden" name="roomID" value={{@key}}>
					<input type="hidden" name="userID" class="userID" value={{userID}}>
					<button type="submit" class="btn btn-primary btn- pull-right" value="submit" action="#">Join</button>
				</form>
			</a>
			<hr>
			{{/each}}
			
			</div>
			</script>
		</div>

	</div>
	
<% include footer.ejs %>


