<% include head.ejs %>
<% include header.ejs %>
	<div class="jumbotron">
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	  	Create
	</button>

<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">

		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Create Room</h4>
		      </div>

		      <form action="#" method="post" id="roomform">
		      <div class="modal-body">
		      	
		        <h5>Name: </h5><input type="text" class="form-control" aria-label="name" name="name">
		      	
		      	<br>
		      	
				<label for="selectUser">Type:</label>
			        <select id="selectUser" name="type" class="form-control selectWidth">
			          <option value="public">Public</option>
			          <option value="private">Private</option>
			          
			        </select>

					<br>

				<h5>Number of Rounds: </h5>
					<div class="btn-group" data-toggle="buttons">
					  <label class="btn btn-primary active">
					    <input type="radio" name="numrounds" id="numRounds1" autocomplete="off" value= "2"checked> 2 
					  </label>
					  <label class="btn btn-primary">
					    <input type="radio" name="numrounds" id="numRounds2" autocomplete="off" value="4"> 4
					  </label>
					  <label class="btn btn-primary">
					    <input type="radio" name="numrounds" id="numRounds3" autocomplete="off" value="6"> 6
					  </label>
					  <label class="btn btn-primary">
					  	<input type="radio" name="numrounds" id="numRounds4" autocomplete="off" value="8"> 8
					  </label> 
					</div>

				<br>

				<h5> Minimum number of players</h5>
				  <div class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary active">
					    <input type="radio" name="minplayers" id="minPlayers3" value = "3" autocomplete="off" checked > 3
					</label>
					<label class="btn btn-primary ">
					    <input type="radio" name="minplayers" id="minPlayers4" autocomplete="off" value ="4" > 4
					</label>
					<label class="btn btn-primary ">
					    <input type="radio" name="minplayers" id="minPlayers5" autocomplete="off" value="5" > 5
					</label>
					<label class="btn btn-primary ">
					    <input type="radio" name="minplayers" id="minPlayers6" autocomplete="off" value="6" > 6
					</label>
					<label class="btn btn-primary ">
					    <input type="radio" name="minplayers" id="minPlayers7" autocomplete="off" value= "7" > 7
					</label>
					<label class="btn btn-primary ">
					    <input type="radio" name="minplayers" id="minPlayers8" autocomplete="off" value="8" > 8
					</label>
					<label class="btn btn-primary ">
					    <input type="radio" name="minplayers" id="minPlayers9" autocomplete="off" value="9" > 9
					</label> 
				  </div>

				<br>
				<br>

				<h5>Round Length:</h5>
				<input type="number" name="roundlength" min="30" max="90" step="5" value="30">
						
			  </div>
			  <!-- hidden input -->
			  <input type="hidden" id="userID" name="userID">
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary" form="roomform" value="submit" action="#">Create</button>
		        </form>	
		      </div>

		    </div>
		  </div>
		</div>
		<br>
		<br>

		<div class="list-group">
		  <a href="#" class="list-group-item list-group-item-danger">
			  <span class="badge">1</span>
			  Room 1<br>
			  Host:<br>
			  <button type="submit" class="btn btn-sm">Join</button>
		  </a>
		  <a href="#" class="list-group-item list-group-item-danger">
		  	  <span class="badge">1</span>
		  	  Room 2<br>
		  	  Host:
		  </a>
		  
		</div>


	</div>
	
<% include footer.ejs %>


