<% include gamehead.ejs %>
<% include header.ejs %>
<div id="game-view">

    <script id="game-area" type="type/x-handlebars-template">
	<div class="jumbotron">
		<table class="table" id="room">

			<div>
            <div id="start">
<<<<<<< HEAD:views/game.ejs
            {{host}}
            <button class="btn btn-primary" id="startGameButton" onclick="startGame()">Start</button>

=======
            
            <a href="/game"><button class="btn btn-primary" id="startButton" onclick="startGame()">Start</button></a>
>>>>>>> origin/master:views/waiting.ejs
            </div>
                  <div class="start"></div>
                    <div class="pull-right"><a href="/rooms">

					 <button class="btn btn-warning" >Back
					 </button></a>

					</div>
			</div>

    		<h3 id="roomName">{{roomID}}</h3>

            <thead>
                <tr>
                   <th>Player</th>
                   <th>Name</th>
                </tr>
            </thead>

            <tbody>
                {{#each members}}
                <tr class="info">
                    <td>{{inc @index}}</td>
                    <td class="users">{{@key}}</td>  	
                </tr>
                {{/each}}
            </tbody>
        
        </table>
	</div>
    </script>

</div>


<% include footer.ejs %>