html, body {
  padding: 30px;
}

.container{
	max-width: 800px;
}
#index p{
	text-align:left
}
#index h3{
	padding:0px;

}
#fb-login{
	vertical-align: middle;
}
#heading{
	margin: -20px 10px 5px 10px;
	font-size: 45px;
}
.dropdown{
	margin-left: 10px;
}
