html, body {
  padding: 30px;
}

.container{
	max-width: 800px;
}
#index {
	text-align:middle;
}
#index h3{
	padding:0px;

}
#fb-login{
	vertical-align: middle;
}
#heading{
	margin: -10px 10px 5px 10px;
	font-size: 45px;
}
#heading a, .pull-right a{
	text-decoration: none;
}
.dropdown{
	margin-left: 10px;
}
.nav {
	font-size: 20px;

}
.info td{
	font-size:20px;
}
td {
	max-width: 60px;
}
button.btn.btn-primary{
	width:98px;
}
#contain{
	float:right;
	padding-right:109px;
	padding-top:80px;
	
}
a.list-group-item.list-group-item-info{
	min-height: 150px;
	border-radius: 15px;
	padding: 25px 50px 50px 50px;
	
}
span.badge.count{
	font-size:42px;
}
.row{
	margin-top:200px;
}
#dice{
    width:100px;
    height: 80px;
    border-radius: 5px;
    font-size:50px;
    text-align: center;
    vertical-align: center;
    float:top;
  	background-color: lightblue;
  	float:left;
  	margin:0px;
  
}

.jumbotron .container{
	width:423px;

	float:left;
	padding,margin:0px;
}
.jumbotron{
	position:relative;
	min-height: 500px
}
.span1{
	background-color: lightblue;
	box-sizing:border-box;
	display:inline-block;
	text-align:center;
	font-size:20px;
	min-height: 40px;
	line-height:40px;
	width:40px;
	margin:10px 10px;
	}
#time{
	font-size: 50px;

}
#InputAmount{
	width:80px;
}