html, body {
  padding: 30px;
}

.container{
	max-width: 800px;
}
#index {
	text-align:middle;
}
#index h3{
	padding:0px;

}
#fb-login{
	vertical-align: middle;
}
#heading{
	margin: -10px 10px 5px 10px;
	font-size: 45px;
}
#heading a, .pull-right a{
	text-decoration: none;
}
.dropdown{
	margin-left: 10px;
}
.nav {
	font-size: 20px;

}
.info td{
	font-size:20px;
}
td {
	max-width: 60px;

}
button.btn.btn-primary{
	width:98px;
}